streamlit
langchain
langchain-community
langchainhub
langchain-chroma
langchain-google-genai
langchain-core
beautifulsoup4
sentence-transformers==2.2.2
InstructorEmbedding
faiss-cpu
python-dotenv
pypdf
langgraph
typing-extensions
pandas
scikit-learn

